@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Biryani:wght@200&family=Noto+Serif+Armenian:wght@600&family=Oswald:wght@700&family=Roboto+ Laje&display=swap');



@font-face {
             
  font-family:'saiyan';
  src: url('Saiyan-Sans.ttf')format('truetype');
  font-weight: normal;




}



* {
    margin: 0px;
    padding: 0px;


}

:root {
   --cor0:#F9C344;
   --cor1:#F5E9CE;
   --cor2:#F46E49;
   --cor3:#283D3B;
   --cor4:#3d2c18;


--font-padrao:arial,verdana,helvetica,sans-serif;
--font-destaque: "bebas neue", sans-serif;
--font-saiyan: 'saiyan',cursive;


 
}

body {
   background-image:linear-gradient( to bottom, #0000ff, #ffff);   
         font-family: var(--font-padrao);


}

header {
       background-image: linear-gradient(to bottom, #eceff3, #d0d0d6);
        min-height: 150px;
        text-align: center;
        padding-top: 40px;

}

header > h1 {
            font-family: var(--font-saiyan);
            font-size: 6em;
            font-weight: normal;
            padding-bottom: 50px;
           display: inline;
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
           background-image: linear-gradient(to right,#efb022 61%,#efb022 33%,#ff0000 33%,#ff0000 66%);


}

header p {
        color: #000000;
        font-family: var(--font-destaque);
        font-size: 1.2em;
        max-width: 500px;
        padding-right: 10px;
        padding-left: 10px;
        margin: auto;
        padding-bottom: 50px;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.267);



}



nav {
     background-color:#4D83BBD9;
     padding: 10px;
     border-radius: 0px 7px 7px rgba(0, 0 , 0, 0.192);
     
}

nav > a {
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration:0,5s ;
  


}

nav > a:hover {
               background-color: var(--cor1);
               color: black;



}

main {
         min-width: 300px;
         max-width: 1000px;
         margin: auto;
         margin-bottom: 30px;
         padding: 20px;
         background-color: var(--cor1);
         box-shadow: 0px 0px 10px rgba(0, 0 , 0, 0.418);
         border-bottom-left-radius: 10px;
         border-top-right-radius: 10px;





}


main p {
            margin: 15px 0px;
            text-align: justify;
            text-indent: 30px;
            font-size: 1em;
            line-height: 2em;

}

main a {
       color: #3153b5;
       font-weight: bold;
      text-decoration: none;
      background-color: coral;
      padding: 2px 6px;
}


.conteudo {
   display: table; 
 
 }
 .imagem {
    display:table-cell ;
    float: right;
 
 }
 
 .texto {
    display: table-cell;
    float: right;
    width:470px ;
 
 
 }
 
 img {
 max-width: 448px;
 display: block;
 margin: auto;
  
 }
 
div p {
 text-align: left;

}

 main h1 {
 text-align:center;
 font-size: 2em;
 font-family: var(--font-destaque);
 line-height: 2em;

}

main img {
     width: 100%;

}

aside > h3 {
           background-color:#060404; 
           color: white;
           padding: 10px;
           margin: -10px -10px 0px -10px;
           border-radius: 10px 10px 0px 0px;

    
}
aside {
background-color: #4c60bb;
padding: 10px;
border-radius: 10px;
box-shadow: 3px 3px 8px  rgba(0, 0, 0, 0.280);


}


aside > ul {
         list-style-type:'\2714\00a0\00a0';
         list-style-position: inside;
         columns: 2



}

aside > p {
 text-indent: 9px;

}



div {
   margin: 15px 0px;
   text-align: justify;
   text-indent: -1px;
   font-size: 1em;
   line-height: 2em;


}

main h2 {
    font-family: var(--font-destaque);
    font-size: 2em;
    font-weight: normal;
    text-align: center;



}

div.video {
   background-color: var(--cor1);
   margin: 0px -20px 30px -20px;
   padding: 20px;
   padding-bottom: 58%;

   position: relative;

}


div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;



}

div h3 {
        font-family: var(--font-destaque);
        text-align: center;
         font-size: 2em;
}
 
