@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Biryani:wght@200&family=Noto+Serif+Armenian:wght@600&family=Oswald:wght@700&family=Roboto+ Laje&display=swap');



@font-face {
             
  font-family:'saiyan';
  src: url('Saiyan-Sans.ttf')format('truetype');
  font-weight: normal;




}



* {
    margin: 0px;
    padding: 0px;


}

:root {
   --cor0:#F9C344;
   --cor1:#F5E9CE;
   --cor2:#F46E49;


--font-padrao:arial,verdana,helvetica,sans-serif;
--font-destaque: "bebas neue", sans-serif;
--font-saiyan: 'saiyan',cursive;


 
}

body {
         background-color: var(--cor0);
         font-family: var(--font-padrao);


}

header {
        background-color: var(--cor2);
        min-height: 150px;
        text-align: center;
        padding-top: 40px;

}

header > h1 {
            font-family: var(--font-saiyan);
            font-size: 6em;
            font-weight: normal;
            margin-bottom: 20px; 


}

nav {
     background-color: var(--cor0);
     padding: 10px;
     border-radius: 0px 7px 7px rgba(0, 0 , 0, 0.192);
     
}

nav > a {
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration:0,5s ;
  


}

nav > a:hover {
               background-color: var(--cor1);
               color: black;



}

main {
         min-width: 300px;
         max-width: 1000px;
         margin: auto;
         margin-bottom: 30px;
         padding: 20px;
         background-color:var(--cor1);
         box-shadow: 0px 0px 10px rgba(0, 0 , 0, 0.418);
         border-bottom-left-radius: 10px;
         border-top-right-radius: 10px;





}


main p {
            margin: 15px 0px;
            text-align: justify;
            text-indent: 30px;
            font-size: 1em;
            line-height: 2em;





}



div p {
 text-align: left;

}

 main h1 {
 text-align:center;
 font-size: 3em;
 font-family: var(--font-destaque);
 line-height: 2em;

}

